geopandas
rasterio
rioxarray
xarray
dask[complete]
pyproj
shapely
pyogrio
richdem
whitebox
scikit-learn
lightgbm
statsmodels
numpy
pandas
matplotlib
folium
python-dotenv
tqdm
pyarrow
zarr
shapely-geometry-collections
torch
torch_geometric
